* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.container {
    margin: 0 auto;
    width: 1140px;
}

.filter select {
    border: 2px solid #b22222;
    border-radius: 8px;
    padding: 8px;
    margin-top: 10px;
}

canvas {
    width: 100%;
    height: 800px;
}

.chart {
    padding: 50px 0;
}

.chart h1 {
    color: #b22222;
    border-bottom: 1px solid #CCC;
    font-size: 30px;
    margin: 0 0 30px;
}

.chart .filter {
    margin: 0 0 30px;
}

.chart .filter p {
    font-weight: bold;
    margin: 0 0 10px;
}

@media screen and (max-width: 800px) {
    .container {
        padding: 0 15px;
        width: 100%;
    }
}
